<div layout="column" layout-fill class="container">

  <section class="panel">
    <h1 class="panel-title">Міжнародні показники людського розвитку</h1>
    <p class="panel-subtitle">
      Досліджуйте дані людського розвитку з усього світу за допомогою інструментів нижче. Дані, представлені тут, були використані при підготовці Доповіді про розвиток людини 2015 року, випущений 14 грудня 2015 року.
    </p>
    <md-button ng-click="main.gotoAnchor('search')" class="md-raised md-warn panel-button hd-button">
      Запит
    </md-button>
    <!--<p>-->
      <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
    <!--</p>-->
    <div class="panel-bar">
      <p class="panel-bar-text">На даному ресурсі ви можете переглянути детальну інформацію про ІРЛП будь-якої країни</p>
    </div>
    <div class="panel-mask"></div>
  </section>

  <md-content id="anchor-search" layout-padding layout="column" class="form-container">
    <form ng-submit="$event.preventDefault()" novalidate>
      <p>Введіть назву країни (англійською мовою):</p>
      <md-autocomplete
        md-selected-item="main.selectedItem"
        md-selected-item-change="main.loadCountryProfile(main.selectedItem)"
        md-search-text="main.searchText"
        md-items="country in main.querySearch(main.searchText)"
        md-item-text="country.name"
        md-min-length="0"
        placeholder="Виберіть країну"
        md-menu-class="hd-custom-template">

        <md-item-template>
          <span class="country-title">
            <md-icon class="country-icon material-icons md-18">languages</md-icon>
            <span md-highlight-text="main.searchText" md-highlight-flags="^i"> {{ country.name }}</span>
          </span>
          <span class="country-metadata">
            <span class="country-code">
              <b>Код:</b>
              {{ country.code }}
            </span>
            <span class="country-rank">
              <b>Місце в світі:</b>
              {{ country.rank }}
            </span>
          </span>
        </md-item-template>

      </md-autocomplete>
    </form>
  </md-content>

  <!-- country info -->
  <md-content layout-padding class="info-container" ng-show="main.isReadyToCount">
    <h3 class="section-title">Інформація про {{ main.searchText }}</h3>

    <p class="hd-text">
      Очікувана тривалість життя при народженні: <span class="hd-value">{{ main.LE }}</span>
    </p>

    <p class="hd-text">
      Середня тривалість навчання (років): <span class="hd-value">{{ main.MYS }}</span>
    </p>

    <p class="hd-text">
      Очікувана тривалість навчання (років): <span class="hd-value">{{ main.EYS }}</span>
    </p>

    <p class="hd-text">
      Валовий національний дохід (ВНД) на душу населення (2011): <span class="hd-value">{{ main.GNIpc | currency:"$" }}</span>
    </p>

    <md-button class="md-raised md-accent count-button"
               ng-show="main.isReadyToCount"
               ng-disabled="!main.isReadyToCount || main.isCounted"
               ng-click="main.getHDI()">
      Обчислити ІРЛП
    </md-button>

    <!-- HDI info -->
    <div ng-show="main.hdiIndex !== null && main.isLoading === false">
      <h5 class="hdi-index-title">
        Індекс розвитку людського потенціалу ({{ main.searchText }}):
        <span class="hdi-index-text">{{ main.hdiIndex | number:3 }}</span>
      </h5>
    </div>

    <!-- spinner -->
    <div ng-show="main.isLoading">
      <md-icon class="material-icons md-48 animated infinite rotateIn loading-icon">loop</md-icon>
    </div>
  </md-content>

  <div class="techs" layout-align="center">
    <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <md-card-content>
        <!-- @todo: http://hdr.undp.org/sites/default/files/Country-Profiles/ARG.GIF -->
        <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
        <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->
        <!--<p>{{ awesomeThing.description }}</p>-->
      </md-card-content>
      <div class="md-action-buttons">
        <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
      </div>
    </md-card>
  </div>

</div>
