.panel {
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  padding: 30px 20px 110px;
  background: url('../../assets/images/world-image.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;

  @include media($medium-screen-up) {
    height: 250px;
  }
}

  .panel-title {
    margin: 10px 0 0 0;
    text-shadow: 0 0 5px rgba(6, 6, 6, 0.63);
    font-size: 2.5em;
  }

  .panel-subtitle {
    text-shadow: 0 0 5px rgba(6, 6, 6, 0.63);
    max-width: 750px;
    margin: 20px auto 0;
    font-size: 17px;
  }

  .panel-button {
    width: 100px;
    margin: 40px 0 0;
  }

  .panel-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 0 20px;
    min-height: 60px;
    background-color: rgba(255, 255, 255, .8);

    @include media($medium-screen-up) {
      padding: 0 0 10px;
      min-height: 40px;
    }
  }

    .panel-bar-text {
      margin: 15px 20px 0;
      color: #405568;
      font-size: 18px;
    }

  .panel-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
